* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --main-color: #f6e231;
    --secod-color: #2a2929;
    --white-color: #f2f2f2;
    --fon-size: 18px;
    --max-width: 1400px;
    --nav-heigt: 70px;
  }
  
  ::selection {
    background-color: var(--main-color);
    color: var(--secod-color);
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  
  
  body {
    background-color: var(--secod-color);
    color: var(--white-color);
    font-family: "mon";
  }
  