.contacto {
    display: flex;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    gap: 8px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    font-size: var(--fon-size);
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;
  }
  