@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(../css/config.css);
@import url(../css/ayudas.css);
@import url(../css/header.css);
@import url(../css/principal.css);
@import url(../css/styles.css);
@import url(../css/servicios.css);
@import url(../css/galeria.css);
@import url(../css/contacto.css);
@import url(../css/inicio.css);
@import url(../css/variables.css);



.ilustracion {
  width: 500px; 
  height: auto;
}


.principal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contenedor-texto {
  flex-basis: 45%;
  margin-left: 50px;
}

.titulo {
  font-size: 3rem;
  font-weight: 700;
}

.parrafo {
  margin: 20px 0;
  font-weight: 350;
  font-size: 1.2rem;
}

.boton {
  display: inline-block;
  background-color: var(--main-color);
  color: var(--secod-color);
  text-decoration: none;
  font-weight: 700;
  padding: 16px 30px;
  border-radius: 30px;
}

.boton--negro {
  background-color: var(--secod-color);
  color: var(--white-color); 
}


/* -------------------------media-query-------------------- */


/* -------------------------Inicio-------------------- */

@media (max-width:800px) {
  .principal {
    flex-direction: column;
  }

  .titulo {
    order: 1;
  }
  .ilustracion {
    order: 3;
  }
  .contenedor-texto {
    order: 2;
  }

/* ------------------Nosotros------------------- */
.contenedor-nosotros {
  flex-direction: column;
  margin-top: 70px;
}

.imagen-nosotros {
  order: 2;
}

.contenedor-texto {
  order: 1;
  margin-top: 100px;
}
/* ------------------Servicios------------------- */
  .servicios {
    flex-direction: column;
    align-items: center;
  }
  
  .card__item {
    width: 300px; /* Ajusta el ancho de las tarjetas en pantallas pequeñas */
    max-width: 1000px; /* Limita el ancho máximo de las tarjetas */
    margin: 50px;
    margin-bottom: -5px;
  }

/* ------------------Galería------------------- */
#galeria {
  flex-direction: column;
  margin-top: 50px;
}


.img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 30px;
}




/* ------------------Contacto------------------- */

#contacto {
  margin-top: 1120px;
}

}